@model adminlte.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <h2>Details</h2>

    <div>
        <h4>Order</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OrderID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Distination)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Distination)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SitNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SitNumber)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.IDUser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IDUser)
            </dd>*@

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>